*{
    padding:0;
    margin: 0;
}
body{
    font-family: "Young Serif", serif;
}
.PORTFOLIO{
    padding: 50px;
}
.section-1{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-1__Name{
    font-size: 60px;
}
.section-1__Contact{
    background-color: orangered;
    color: aliceblue;
    padding-right:10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}
.section-1__Role{
    font-size: 30px;
    margin-top: 10px;
}
.section-2,.section-3,.section-4,.section-5{
    margin-top: 20px;
}
.section-2__desc,.section-3__desc,.section-4__desc,.section-5__desc{
    margin-top: 10px;
}
.section-5{
    background-color: black;
    color: white;
    padding:20px ;
}
.section-5__title a{
    color: aqua;
}
.section-3__desc,.section-4__desc li{
    list-style: none;
}
.section-3{
    background-color: #6462FD;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-4{
    background-color: #FE7517;
    color: black;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}